extends ./../layout/main

block content
  h2.title.is-2.has-text-centered Login
  form(action="/auth/login", method="POST" enctype='application/json')
    div.has-text-centered
      div.column.is-full
        input(type="text", name="username", placeholder="Username", class="input")
      div.column.is-full
        input(type="password", name="password", placeholder="Password", class="input")
      div.column.is-full
        button(type="submit", class="button is-primary") Sign in