extends ./../layout/main

block content
  h2.title.is-2.has-text-centered Cadastrar novo usuário
  form(action="/users", method="POST" enctype='application/json')
    div.has-text-centered
      div.column.is-full
        input(type="text", name="name", placeholder="Name", class="input")
      div.column.is-full
        input(type="text", name="username", placeholder="Username", class="input")
      div.column.is-full
        input(type="text", name="email", placeholder="E-mail", class="input")
      div.column.is-full
        input(type="password", name="password", placeholder="Password", class="input")
      div.column.is-full
        button(type="submit", class="button is-primary") Save