extends ./../layout/main

block content
  h2.title.is-2.has-text-centered Usuários
  div.column.is-full
    table(class="table")
      thead
        tr
          th Name
          th Username
          th E-mail
          th Actions
      tbody
        each user in users
          tr
            td= user.name
            td= user.username
            td= user.email
            td
              form(action="/users/"+user._id+"/?_method=DELETE", method="POST")
                button(type="submit" class="button is-danger") Delete